.Home{
    width: 1200px;
    height: 720px;
    margin-left: 150px;
    background-color: blue;
}
.img1{
    position: relative;
    left: 100px;
    top: 30px;
}
.img1:hover {
    position: relative;
    left: 80px;
    top: 20px;
}
.img2{
    position: relative;
    left: 250px;
    top: 30px;
}
.img2:hover{
    position: relative;
    left: 230px;
    top: 20px;
}
.img3{
    position: relative;
    left: 420px;
    top: 30px;
}
.img3:hover{
    position: relative;
    left: 400px;
    top: 20px;
}
.p1{
    position: relative;
    top: 40px;
    left: 150px;
    color: white;
}
.p2{
    color: white;
    position: relative;
    left: 540px;
}
.p3{
    position: relative;
    left: 920px;
    top: -40px;
    color: white;
}